*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/src/format/protobufs/alfalfa.pb.cc
/src/format/protobufs/alfalfa.pb.h
/src/frontend/diff-sizes
/src/frontend/alfalfa-weave
/src/frontend/frameify
/src/frontend/frameplayer
/src/frontend/graphgen
/src/frontend/vp8play
/src/frontend/vp8decode
/src/frontend/collisions
/src/frontend/switch-describe
/src/frontend/frameinfo
/src/frontend/alfalfa-import
/src/frontend/alfalfa-combine
/src/frontend/alfalfa-describe
/src/frontend/alfalfa-encode
/src/frontend/alfalfa-play-super-manually
/src/frontend/alfalfa-verify
/src/tests/decode-to-stdout
/src/tests/encode-loopback
/src/tests/extract-key-frames
/src/tests/roundtrip
/src/tests/state-collisions
/src/tests/ivfcopy
/src/tests/framedb-test
/src/tests/framedb-benchmark
/src/tests/ivfcompare
/src/tests/trackdb-test
/src/tests/alfalfa-combine-check
/src/tests/alfalfa-encode-check
/src/tests/alfalfa-import-check
/src/tests/alfalfa-decode-to-stdout
/src/tests/alfalfa-continuation-switch
/src/tests/alfalfa-fake-switch

/src/tests/test_vectors/
