*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/src/frontend/diff-sizes
/src/frontend/frameify
/src/frontend/frameplayer
/src/frontend/vp8play
/src/frontend/vp8decode
/src/tests/decode-to-stdout
/src/tests/encode-loopback
/src/tests/extract-key-frames
/src/tests/roundtrip
/src/tests/frames-to-stdout
/src/tests/switch-to-stdout
/src/tests/single-frameify
